{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Richard's Calculator</title>
    <meta name="description" content="one badass calculator">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section>
      <div>

        <div id="calculator">
          <div id="inputs">
            <h2>Budget Planner</h2>
            <ul>
              <li id="income" class="active">
                <h3>Income Details</h3>
                <table>
                  <tr class="label">
                    <td>
                      <label>Title</label>
                    </td>
                    <td>
                      <label>Amount</label>
                    </td>
                    <td>
                      <label>Frequency</label>
                    </td>
                  </tr>

                  <tr class="income">
                    <td>
                      <div class="field-title">
                        <label>Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="bonus">
                    <td>
                      <div class="field-title">
                        <label>Bonuses</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="investments">
                    <td>
                      <div class="field-title">
                        <label>Investment Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="allowances">
                    <td>
                      <div class="field-title">
                        <label>Allowances</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="other">
                    <td>
                      <div class="field-title">
                        <label>Other Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                </table>
              </li>

              <li id="living-expenses">
                <h3>Living Expenses</h3>
                <table>
                  <tr class="label">
                    <td>
                      <label>Title</label>
                    </td>
                    <td>
                      <label>Amount</label>
                    </td>
                    <td>
                      <label>Frequency</label>
                    </td>
                  </tr>

                  <tr class="income">
                    <td>
                      <div class="field-title">
                        <label>Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="bonus">
                    <td>
                      <div class="field-title">
                        <label>Bonuses</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="investments">
                    <td>
                      <div class="field-title">
                        <label>Investment Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="allowances">
                    <td>
                      <div class="field-title">
                        <label>Allowances</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="other">
                    <td>
                      <div class="field-title">
                        <label>Other Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                </table>

              </li>

              <li id="insurance">
                <h3>Insurance &amp; Superannuation</h3>
                <table>
                  <tr class="label">
                    <td>
                      <label>Title</label>
                    </td>
                    <td>
                      <label>Amount</label>
                    </td>
                    <td>
                      <label>Frequency</label>
                    </td>
                  </tr>

                  <tr class="income">
                    <td>
                      <div class="field-title">
                        <label>Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="bonus">
                    <td>
                      <div class="field-title">
                        <label>Bonuses</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="investments">
                    <td>
                      <div class="field-title">
                        <label>Investment Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="allowances">
                    <td>
                      <div class="field-title">
                        <label>Allowances</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="other">
                    <td>
                      <div class="field-title">
                        <label>Other Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                </table>
              </li>

              <li>
                <h3>Loans &amp; Credit Cards</h3>
                <table>
                  <tr class="label">
                    <td>
                      <label>Title</label>
                    </td>
                    <td>
                      <label>Amount</label>
                    </td>
                    <td>
                      <label>Frequency</label>
                    </td>
                  </tr>

                  <tr class="income">
                    <td>
                      <div class="field-title">
                        <label>Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="bonus">
                    <td>
                      <div class="field-title">
                        <label>Bonuses</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="investments">
                    <td>
                      <div class="field-title">
                        <label>Investment Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="allowances">
                    <td>
                      <div class="field-title">
                        <label>Allowances</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="other">
                    <td>
                      <div class="field-title">
                        <label>Other Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                </table>
              </li>

              <li>
                <h3>Transport</h3>
                <table>
                  <tr class="label">
                    <td>
                      <label>Title</label>
                    </td>
                    <td>
                      <label>Amount</label>
                    </td>
                    <td>
                      <label>Frequency</label>
                    </td>
                  </tr>

                  <tr class="income">
                    <td>
                      <div class="field-title">
                        <label>Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="bonus">
                    <td>
                      <div class="field-title">
                        <label>Bonuses</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="investments">
                    <td>
                      <div class="field-title">
                        <label>Investment Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="allowances">
                    <td>
                      <div class="field-title">
                        <label>Allowances</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="other">
                    <td>
                      <div class="field-title">
                        <label>Other Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                </table>
              </li>

              <li>
                <h3>Leisure &amp; Entertainment</h3>
                <table>
                  <tr class="label">
                    <td>
                      <label>Title</label>
                    </td>
                    <td>
                      <label>Amount</label>
                    </td>
                    <td>
                      <label>Frequency</label>
                    </td>
                  </tr>

                  <tr class="income">
                    <td>
                      <div class="field-title">
                        <label>Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="bonus">
                    <td>
                      <div class="field-title">
                        <label>Bonuses</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="investments">
                    <td>
                      <div class="field-title">
                        <label>Investment Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="allowances">
                    <td>
                      <div class="field-title">
                        <label>Allowances</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr class="other">
                    <td>
                      <div class="field-title">
                        <label>Other Income</label>
                      </div>
                    </td>
                    <td>
                      <div class="field-input">
                        <input class="ammount" type="value">
                      </div>
                    </td>
                    <td>
                      <div class="field-select">
                        <select class="frequency">
                          <option value="1">yearly</option>
                          <option value="4">quarterly</option>
                          <option value="12">monthly</option>
                          <option value="26.09">fortnightly</option>
                          <option value="52.18">weekly</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                </table>
              </li>
            </ul>
            <button>calculate</button>
          </div>

          <div id="results">
            <div>
              <h2>Your Budget Summary</h2>
              <div class="bar-chart">
                <div>
                  <h3>Income</h3>
                  <div class="bar"></div>
                  <h4>$0</h4>
                </div>
                <div>
                  <h3>Spending</h3>
                  <div class="bar"></div>
                  <h4>$0</h4>
                </div>
                <div>
                  <h3>Net</h3>
                  <div class="bar"></div>
                  <h4>$0</h4>
                </div>
              </div>
            </div>

            <div>
              <h2>Your Spending Summary</h2>
              <div class="pie-chart">
                <div>

                </div>
                <div>
                  <p>[] Living Expenses</p>
                  <p>[] Transport</p>
                  <p>[] Insurance &amp; Super</p>
                  <p>[] Leisure &amp; Entertainment</p>
                  <p>[] Loans &amp; Credit Cards</p>
                </div>
              </div>
            </div>
            <button>Re-Calculate</button>
          </div>

        </div>

      </div>
    </section>

  {{/replace}}
{{/extend}}
