<!DOCTYPE HTML>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright 2016 all rights reserved by Richard Verheyen">
    <meta name="developer" content="Richard Verheyen richard.verheyen@gmail.com">
    <meta name="robots" content="index, follow">

    <meta name="google-site-verification" content="lZD8Pa_Me8epqXpYFLBunfhCMuWaA02nhzvzRpRvlRc" />
    {{#block "meta"}}
      <title>The Financial Therapist Budgeting Calculator</title>
      <meta name="description" content="Eyebrow, lash and makeup studio webpage"> {{/block}}

    <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">

    <script src="/assets/js/outdated-browser.js"></script>
    <script src="/assets/js/main.js"></script>

    <meta name="application-name" content="&nbsp;" />

  </head>

  <body id="{{#block " body-id "}}{{/block}}" class="{{#block " body-class "}}{{/block}}">

    {{> header}}
    <main>
      {{#block "main"}}{{/block}}
    </main>
    {{> footer}}

    <!-- <div id="outdated"></div> -->
    <script src="/assets/js/outdated-browser.js" type="text/javascript"></script>

  </body>

</html>
